#mainheader{
    color: orange; 
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    text-align: center; 
    background-color: blue;
}
.digiCardInput{
    margin-left: 10px;
    margin-bottom: 30px;
}
#digiContainer{
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
}
#col{
    height: 400px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    transition-duration: .8s;
    position: relative;
    width: 33%;
    align-items: center;
    justify-content: center;
}
.cardFront{
    position: absolute;
    box-sizing:content-box;
    backface-visibility:hidden;
    z-index: 10;
}
.card-bodyBack{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.card-title{
    color: orange;
    font-weight: bolder;
    font-size: xx-large;
}
.card-text{
    color: orange;
    font-weight: bolder;
    font-size: x-large;
}
.flipCard{
    transform: rotateY(360deg);
    opacity: 0.1;
}




